.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.topic_header {
  font-size: 30px;
  font-weight: 800;
  color: #e0a80d;
}

.App-link {
  color: #61dafb;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  margin-right: 10px;
}

.contact_body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}